# LDAP to postfix link
server_host = {% if mailad_hostad is defined %}{% for item in mailad_hostad %}ldaps://{{ item }}:636/{% if not loop.last %} {% endif %}{% endfor %}{% endif %}
timeout = 10
search_base = {{ mailad_ldapsearchbase }}
query_filter = (&(mail=%u@%d)(memberOf=cn=Local_mail,ou=MAIL_ACCESS,{{ mailad_ldapsearchbase }}))
result_attribute = mail
result_format = mail_local_in
bind = yes
bind_dn = {{ mailad_ldapbinduser }}
bind_pw = {{ mailad_ldapbindpasswd }}
